@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

[type="date"]::-webkit-inner-spin-button {
  display: none;
}

[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  background: transparent;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

[type="date"]::-webkit-datetime-edit,
[type="datetime-local"]::-webkit-datetime-edit,
[type="time"]::-webkit-datetime-edit {
  padding: 0;
  color: hsl(var(--foreground));
}

[type="date"]::-webkit-datetime-edit-fields-wrapper,
[type="datetime-local"]::-webkit-datetime-edit-fields-wrapper,
[type="time"]::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
  background: transparent;
}

[type="date"]::-webkit-datetime-edit-text,
[type="datetime-local"]::-webkit-datetime-edit-text,
[type="time"]::-webkit-datetime-edit-text {
  color: hsl(var(--muted-foreground));
  padding: 0 0.1rem;
}

[type="date"]::-webkit-datetime-edit-month-field,
[type="date"]::-webkit-datetime-edit-day-field,
[type="date"]::-webkit-datetime-edit-year-field,
[type="datetime-local"]::-webkit-datetime-edit-month-field,
[type="datetime-local"]::-webkit-datetime-edit-day-field,
[type="datetime-local"]::-webkit-datetime-edit-year-field,
[type="datetime-local"]::-webkit-datetime-edit-hour-field,
[type="datetime-local"]::-webkit-datetime-edit-minute-field,
[type="datetime-local"]::-webkit-datetime-edit-ampm-field,
[type="time"]::-webkit-datetime-edit-hour-field,
[type="time"]::-webkit-datetime-edit-minute-field,
[type="time"]::-webkit-datetime-edit-ampm-field {
  color: hsl(var(--foreground));
  padding: 0;
}

[type="date"]::-webkit-datetime-edit-month-field:focus,
[type="date"]::-webkit-datetime-edit-day-field:focus,
[type="date"]::-webkit-datetime-edit-year-field:focus,
[type="datetime-local"]::-webkit-datetime-edit-month-field:focus,
[type="datetime-local"]::-webkit-datetime-edit-day-field:focus,
[type="datetime-local"]::-webkit-datetime-edit-year-field:focus,
[type="datetime-local"]::-webkit-datetime-edit-hour-field:focus,
[type="datetime-local"]::-webkit-datetime-edit-minute-field:focus,
[type="datetime-local"]::-webkit-datetime-edit-ampm-field:focus,
[type="time"]::-webkit-datetime-edit-hour-field:focus,
[type="time"]::-webkit-datetime-edit-minute-field:focus,
[type="time"]::-webkit-datetime-edit-ampm-field:focus {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border-radius: 2px;
}

[type="date"]:not(:focus):invalid::-webkit-datetime-edit,
[type="date"]:not(:focus):invalid::-webkit-datetime-edit-fields-wrapper,
[type="date"]:not(:focus):invalid::-webkit-datetime-edit-text,
[type="date"]:not(:focus):invalid::-webkit-datetime-edit-month-field,
[type="date"]:not(:focus):invalid::-webkit-datetime-edit-day-field,
[type="date"]:not(:focus):invalid::-webkit-datetime-edit-year-field,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit,
[type="datetime-local"]:not(
    :focus
  ):invalid::-webkit-datetime-edit-fields-wrapper,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-text,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-month-field,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-day-field,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-year-field,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-hour-field,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-minute-field,
[type="datetime-local"]:not(:focus):invalid::-webkit-datetime-edit-ampm-field {
  color: transparent;
}

[type="date"]:not(:focus):invalid::before,
[type="datetime-local"]:not(:focus):invalid::before {
  content: attr(placeholder);
  color: hsl(var(--muted-foreground));
  position: absolute;
  pointer-events: none;
  background: transparent;
}

:root {
  /* Useful sizes */
  --gutter: 1rem;
  --max-width: 75rem;
  --header-height: 4rem;
  --sidebar-width: 18.875rem;
  --single-sidebar-width: 25.375rem;
  --content-max-width: 35.25rem;

  --phone-max: 37.4375rem;
  --tablet-portrait-min: 37.5rem;
  --tablet-landscape-min: 56.25rem;
  --desktop-min: 75rem;
  --big-desktop-min: 112.5rem;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --success: 120 61% 34%;
    --success-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --success: 120 61% 34%;
    --success-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
