.sheetContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.sheetLink {
  display: flex;
  gap: 1rem;
  padding: 0.75rem;
  color: hsl(var(--muted-foreground));
  text-decoration: inherit;
}

.sheetLink:hover {
  color: hsl(var(--text-foreground));
}
