.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: hsl(var(--muted));
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 1rem;
}

.main {
  flex: 1;
  padding: 0 0.5rem;
}

@media (min-width: 37.5rem) {
  .main {
    padding: 0 1rem ;
  }
}
