.page {
  background-color: hsl(var(--muted));
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  gap: 2rem;
}

.main {
  flex: 1;
  padding: 0 1rem 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;
  min-height: 100%;
}